body {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

footer {
    font-size: 0.9rem;
}

/* Nuevo para los gráficos */
.chart-container {
    position: relative;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    height: 200px;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}
